<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- demander scanne les classes qui sont dans  -->
	<context:component-scan base-package="biblio.controller">
		<!-- dans le scanne prendre en compte toutes les classes qui sont dans service OU dao 
		<context:include-filter type="regex"
			expression="(controller)\..*" />-->
	</context:component-scan>
	
</beans>